# Compiled files
*.class

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Output directories
/build/
/out/
/target/
/bin/
/classes/
/dist/
/src/Ddd/bin/
/src/Ddd/obj/
/src/Ddd.Tests/bin/
/src/Ddd.Tests/obj/

# Gradle files
/.gradle/
**/build/
.gradletasknamecache
gradle-app.setting

# IDE files
/.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/